.asteriskColor {
  color: rgb(244, 156, 0);
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h5 {
  font-size: 15px;
  font-weight: bold;
}

.labelarea {
  font-size: 15px;
}
:host>>>.bgHighLight {
  background-color: #ffa50052 !important;
  color: black;
}
.table {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px !important;
  line-height: 19px !important;
  margin-top: 20px;
}

.btn-search {
  color: #ffffff;
  background-color: rgb(244, 156, 0);
  width: 7rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  height: 30px;
  border-radius: 5px;
  margin-top: 20px;
  /* width: 100%; */
  border-color: rgb(244, 156, 0);
}

.gen {
  color: #ffffff;
  background-color: rgb(244, 156, 0);
  width: 7rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  height: 30px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 26px;
  width: 80%;
  border-color: rgb(244, 156, 0);
}

.help-block {
  font-size: 10px;
  color: red;
  width: 100%;
  font-family: 'Verdana'
}

.p-column-filter {
  height: 22px;
  border-radius: 3px;
}

.col-2 {
  flex: 0 0 auto;
  width: 11.666667%;
}

.coil-header {
  font-weight: bold;
}

h5 {
  font-size: 15px;
  font-weight: bold;
}

.buttonsClass {
  border: 1px solid;
  padding: 3px 6px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  height: 30px;
  border-radius: 5px;
  background: transparent;
  color: rgb(244, 156, 0);
  border-bottom: 2px solid rgb(244, 156, 0);
  text-align: center !important;
}

.pwm-btn-icon {
  background-color: transparent;
  border-color: transparent;
  margin-left: 0rem;
  /* width: 25%; */
  padding: 0%;
}

:host>>>.p-multiselect-items-wrapper {
  overflow: auto;
  width: 200px;
}

.btn-serach:hover {
  color: #ffffff;
  background-color: rgb(244, 156, 0);
  font-weight: bold;
}

.btn-customize {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  width: 7rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  box-shadow: 2px 5px #ffffff;
}

:host>>>.p-multiselect .p-multiselect-label.p-placeholder {
  color: #666666;
  padding: 0px 15px 2px 0px;
}

:host>>>.btn-customize:hover {
  color: black;
  border-color: #c8c8c8;
  background: #ffffff;
  font-weight: bold;
}

.btn-new-consuptions {
  color: rgb(255, 255, 255);
  background-color: rgb(41, 208, 0);
  width: 175px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ffffff;
}

:host>>>.btn-new-consuptions:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(41, 208, 0);
  border: 1px solid #ffffff;
  font-weight: bold;
}
:host>>>p-sorticon {
  vertical-align: bottom;
  text-align-last: justify;
}

:host>>>.p-datatable .p-datatable-tbody>tr>td {
  text-align: center;
  border-width: 1px;
  font-size: 10.5px;
  font-family: 'Verdana' !important;
  border-bottom: 0.5px #c8c8c8 !important;
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
}

:host>>>.p-datatable .p-datatable-header {
  background: none;
  border: 0px solid #ffffff;
}

.multiselectHeader {
  font-size: 11px;
  color: #c8c8c8;
}

:host>>>.p-multiselect-filter-container {
  display: none !important;
  visibility: hidden;
}

:host>>>.p-multiselect-filter .p-inputtext .p-component .ng-tns-c68-0 {
  display: none !important;
  visibility: hidden;
}

#list {
  width: 176px;
  height: 60px;
}

.p-inputtext {
  font-size: 11px;
}

:host>>>.p-button.p-button-warning, .p-buttonset.p-button-warning>.p-button {
  color: #ffffff;
  background: rgb(244, 156, 0);
  border: 1px solid rgb(244, 156, 0);
  height: 33px;
  width: 30px;
  border-radius: 5px 5px;
}

:host>>>.p-button.p-button-danger, .p-buttonset.p-button-danger>.p-button {
  color: #ffffff;
  background: #e91224;
  border: 1px solid #e91224;
  height: 33px;
  width: 30px;
  border-radius: 5px 5px;
}

:host>>>.pi-sort-alt:before {
  /* content: "\e99e"; */
  content: url(../../../../assets/images/sort-icon.jpg)!important;
}

:host>>>p-sorticon {
  vertical-align: bottom;
  text-align-last: justify;
}

:host>>>.p-datatable .p-datatable-header {
  background: none;
  /* color: #333333; */
  border: 0px solid #ffffff;
}

:host>>>.p-multiselect-panel .p-multiselect-header {
  color: #c8c8c8;
}

/* :host>>>.p-multiselect-filter .p-inputtext .p-component .ng-tns-c68-0 {
      display: none !important;
      visibility: hidden;
    } */

:host>>>.p-sortable-column-icon .pi .pi-fw .pi-sort-alt {
  font-weight: smaller !important;
}

:host>>>.pi-clone {
  color: rgb(244, 156, 0) !important;
}

:host>>>thead, tbody, tfoot, tr, td, th {
  font-size: 11px;
}

:host>>>.p-multiselect .p-multiselect-label.p-placeholder {
  color: #666666;
  height: 20px;
  padding-top: 4px;
  padding-bottom: 16px;
}

/* The container */

.rad {
  font-style: normal;
  font-weight: bold;
  display: block;
  position: relative;
  padding-left: 24px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */

.rad input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */

.checkmark {
  position: absolute;
  top: 4px;
  left: 2px;
  height: 14px;
  width: 14px;
  background-color: #ccc;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */

.rad:hover input~.checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */

.rad input:checked~.checkmark {
  background-color: rgb(244, 156, 0);
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */

.rad input:checked~.checkmark:after {
  display: block;
}

:host>>>.p-datatable .p-datatable-tfoot>tr>td {
  text-align: left;
  padding: 0.571rem 0.857rem;
  border: 0.5px #c8c8c8;
  border-width: 1px;
  font-weight: 700;
  color: #333333;
  background: #c8c8c8 !important;
}

/* :host>>>.p-datatable table {
  border: 0.1rem solid rgb(105, 120, 130);
} */

:host>>>thead tr.ng-star-inserted {
  border-bottom: 0.8px solid rgb(105, 120, 130);
}

:host>>>.p-datatable .p-datatable-thead>tr>th {
  background: #ffffff;
  vertical-align: super;
  white-space: nowrap;
  font-family: 'Verdana' !important;
  font-size: 11px !important;
  padding: 0.3rem 0.3rem;
}

::ng-deep .unloadDatePlaceholder .p-inputtext {
  width: 95%;
  height: 27px !important;
  font-size: 0.7rem !important;
  margin-top: 5% !important;
}

/*Start--to avoid blue-color while sorting */

:host>>>.p-datatable .p-sortable-column.p-highlight {
  color: black;
  background: transparent;
}

:host>>>.p-datatable .p-sortable-column:hover {
  color: black;
  border-color: transparent;
}

:host>>>.p-datatable .p-sortable-column .p-sortable-column-icon {
  color: transparent;
  margin-left: 0px;
  height: 15px;
}

:host>>>.p-datatable .p-sortable-column.p-highlight {
  background: transparent;
  color: black;
}

:host>>>.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
  color: black;
}

:host>>>.p-datatable .p-sortable-column {
  outline-color: transparent;
}

:host>>>.p-datatable .p-sortable-column.p-highlight:hover {
  background: transparent;
  color: black;
}

:host>>>.p-datatable .p-sortable-column.p-highlight:hover .p-sortable-column-icon {
  color: black;
}

:host>>>.p-datatable .p-sortable-column:focus {
  box-shadow: inset 0 0 0 0.2rem transparent;
  outline: 0 none;
}

:host>>>.p-datatable .p-sortable-column:not(.p-highlight):hover {
  background: transparent;
}

/*End-- to avoid blue-color while sorting */

:host>>>.p-button.p-button-text {
  color: rgb(244, 156, 0);
  border-color: transparent;
  font-size: 12px;
}

:host>>>.p-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.1rem rgb(244, 156, 0);
}

:host>>>.p-button.p-button-text:enabled:hover {
  background: transparent;
  color: rgb(244, 156, 0);
  border-color: transparent;
}

/* paginator color */

:host>>>.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: rgb(244, 156, 0);
  border-color: rgb(244, 156, 0);
  color: #ffffff;
}


.dateInput {
  height: 22px;
  width: 130px !important;
}

:host>>>.p-inputtext.p-error, .p-inputtext.p-invalid, .p-inputtext.ng-dirty.ng-invalid {
  border-color: #333333;
  ;
}

:host>>>.p-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.1rem rgb(244, 156, 0);
}


/* paginator color */

:host>>>.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: rgb(244, 156, 0);
  border-color: rgb(244, 156, 0);
  color: #ffffff;
}

.dateInput {
  width: 130px !important;
}

:host>>>.p-inputtext.p-error, .p-inputtext.p-invalid, .p-inputtext.ng-dirty.ng-invalid {
  border-color: #333333;
  ;
}

.searchResultText {
  font-size: 13px!important;
  font-family: 'Segoe UI'!important;
  color: #0b9ad3!important;
  font-weight: 700!important;
}

:host>>>.p-datatable table {
  border: 0.1rem solid rgb(105, 120, 130);
}

.img {
  height: "20px";
}

.emptymessage {
  text-align: center;
}

.summary {
  text-align: center;
  font-size: small;
  font-weight: 600;
}

.rowWidth {
  width: 20%;
}

.asteriskColor {
  color: rgb(244, 156, 0);
}

.message {
  margin-left: -1% !important;
}

.messages {
  padding-left: 10px;
}

.actionButton {
  text-align: center;
}

p {
  margin: 0;
}

.confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hide the browser's default checkbox */

.checkbox {
  padding-left: 5px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Style the checkmark/indicator */

.container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 11px;
  font-style: Verdana;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container .checkmark:after {
  left: 4px;
  top: 0px;
  width: 7px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

:host>>>.p-datatable .p-datatable-tbody>tr {
  height: 26px;
}

:host>>>.p-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.multiselectHeader {
  font-size: 11px;
  color: #c8c8c8;
}

/* .page {
  overflow-x: auto;
  overflow-y: auto;
} */

.table-view {
  margin-left: 2%;
  margin-top: 5px !important;
  font-size: 15px !important;
  font-family: 'Verdana' !important;
  color: rgb(131, 131, 131) !important;
}

:host>>>.p-message.p-message-success {
  color: green;
  height: 30px;
}

:host>>>.p-message .p-message-wrapper {
  height: 15px;
  font-size: 11px;
  font-family: Verdana;
}

:host>>>.p-message.p-message-success .p-message-icon {
  color: green;
  font-size: 12px;
}

:host>>>.p-message.p-message-error .p-message-icon {
  display: none;
}

:host>>>.p-dialog {
  width: 100%;
}

/* css for confirm dialog box. */

:host>>>div.p-dialog.p-confirm-dialog.p-component.ng-star-inserted {
  width: 46rem;
}

:host>>>div.p-dialog-header {
  background: rgb(244, 156, 0);
  color: #ffffff;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  height: 3rem;
  border: none;
}

:host>>>button.p-dialog-header-icon.p-dialog-header-close.p-link.ng-star-inserted {
  color: #ffffff;
}

:host>>>div.p-dialog-footer.ng-star-inserted {
  border-top: none;
  background: #ffffff;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

:host>>>span.p-confirm-dialog-message {
  margin-left: 0 !important;
  font-weight: bold;
  font-size: 15px;
}

button.btn.btn-sm.btn-outline-warning.conf-dialog {
  border-color: rgb(244, 156, 0);
  color: rgb(244, 156, 0);
  font-weight: bold;
  width: 7rem;
}

.ok {
  color: #ffffff;
  background-color: rgb(244, 156, 0);
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  height: 30px;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
}

:host>>>.p-dialog .p-dialog-footer button {
  margin: 0 0.5rem 0 0;
  width: 7rem;
}

button.btn.btn-sm.btn-outline-warning.conf-dialog:hover {
  background-color: rgb(244, 156, 0);
  border-color: rgb(244, 156, 0);
  color: #ffffff;
  font-weight: bold;
  width: 7rem;
}

.checking {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12.5px;
  font-style: Verdana;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */

.checking input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */

.checkmarkCheckbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #ffff;
  border: 1px solid;
}

/* On mouse-over, add a grey background color */

.checking:hover input~.checkmarkCheckbox {
  background-color: #fff;
  border: 1px solid;
}

/* When the checkbox is checked, add a blue background */

.checking input:checked~.checkmarkCheckbox {
  background-color: #ffff;
}

/* Create the checkmarkCheckbox/indicator (hidden when not checked) */

.checkmarkCheckbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmarkCheckbox when checked */

.checking input:checked~.checkmarkCheckbox:after {
  display: block;
}

/* Style the checkmarkCheckbox/indicator */

.checking .checkmarkCheckbox:after {
  left: 4px;
  top: 0px;
  width: 7px;
  height: 13px;
  border: solid rgb(244, 156, 0);
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
:host>>>.p-checkbox .p-checkbox-box.p-highlight {
  border-color: rgb(105, 120, 130) !important;
  background: none !important;
  border-radius: 0px !important;
}

:host>>>.p-checkbox .p-checkbox-box {
  border-radius: 0px;
}

.marginTop {
  margin-top: 2%;
}

.padding {
  padding-left: 50px;
}

.manual {
  margin-top: 4px;
}

.pointer {
  cursor: pointer;
}

.reset {
  float: right;
  margin-right: 80px;
}

.search {
  float: left;
  position: absolute;
  right: 0;
}

.resetMargin {
  margin-left: 95px;
}

.clearBtn {
  float: right;
  margin-right: 100px;
}

.savebtn {
  float: left;
  position: absolute;
  right: 98px;
}

.msgBar {
  padding-left: 0px;
}

.pCheckbox {
  width: 3rem
}

.actionWidth {
  width: 0.5%;
}

.actionIcon {
  text-align: center
}

:host>>>.p-message.p-message-error .p-message-icon {
  display: block;
}

:host>>>.p-message .p-message-icon {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

:host>>>.p-message .p-message-detail {
  margin-left: 0px;
}

.hiddenColumn {
  display: none;
}

:host>>>.p-datatable .p-datatable-thead>tr>th {
  white-space: normal;
  word-wrap: break-word;
}

:host>>>.p-datatable .p-datatable-thead>tr>th {
  vertical-align: top;
  /* text-align: center; */
}

:host>>>.p-datatable .p-datatable-thead>tr>th {
  background: #ffffff;
  height: 60px;
  padding: 2px;
}

:host>>>.p-datatable-thead {
  font-size: 11px;
  border: .5px solid;
  white-space: normal;
}

:host>>>.p-button:enabled:active {
  background: transparent;
}

.p-field {
  margin-bottom: 0rem;
}

@media (max-width: 767px) {
  /* xs or col */
  .development {
    color: orange;
  }
  :host>>>.extended-expiry {
    padding-left: 0px !important;
    ;
  }
  :host>>>.expiration-date {
    padding-left: 0px!important;
    padding-top: 25px!important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* sm */
  .development {
    color: green;
  }
  :host>>>.extended-expiry {
    padding-left: 0px !important;
  }
  :host>>>.pallet-from {
    padding-left: 8px !important;
    ;
  }
  :host>>>.manufacturing-from {
    padding-left: 8px !important;
    ;
  }
  :host>>>.expiration-date {
    padding-top: 42px!important;
  }
  /* :host>>>.material-width {
            width:113% !important;
          } */
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* md */
  .development {
    color: blue;
  }
  :host>>>.extended-expiry {
    padding-left: 0px !important;
    ;
  }
  :host>>>.pallet-from {
    padding-left: 8px !important;
    ;
  }
  :host>>>.manufacturing-from {
    padding-left: 8px !important;
    ;
  }
  :host>>>.expiration-date {
    padding-top: 33px!important;
  }
}

@media (min-width: 1200px) {
  /* lg or xl */
  .development {
    color: red;
  }
  :host>>>.expiration-date {
    padding-top: 33px!important;
  }
  :host>>>.extended-expiry {
    padding-left: 0px !important;
    ;
  }
  :host>>>.pallet-from {
    padding-left: 8px !important;
    ;
  }
  :host>>>.manufacturing-from {
    padding-left: 8px !important;
    ;
  }
  :host>>>.expiration-date {
    padding-top: 33px!important;
  }
}

:host>>>.p-dialog.p-confirm-dialog .p-confirm-dialog-message {
  margin-left: 1rem;
  font-size: 12px;
  font-family: verdana;
  font-weight: 600;
  margin-right: 1rem;
  display: flex;
}

:host>>>.p-dialog .p-dialog-header .p-dialog-title {
  font-weight: 700;
  font-size: 15px;
}

.notallowed {
  cursor: not-allowed;
}

.allowed {
  cursor: pointer;
}

:host>>>.p-confirm-dialog .p-dialog-content {
  display: flex;
}
.p-messages.p-message-error{
  margin: 0rem;
}
 :host>>>.p-datatable-auto-layout{
  width: fit-content;
 }
