
<div class="p-md-12 subHeading p-mt-2">
    Scan or Enter a Pallet:<span class="asteriskColor"> *</span>
</div>
<div class="p-md-12" style="font-family: Verdana, Geneva, Tahoma, sans-serif;font-weight: bold;" *ngIf="error_message">
    <p-message severity="error" text={{errorMessage}}></p-message>
  </div>
<div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 p-sm-6 p-md-4">
        <input type="text" pInputText [(ngModel)]="searchPalletId" name="searchPalletId" placeholder="Enter Pallet Id"
            style="width: 50% !important;" (keyup.enter)="onEnter(searchPalletId)">
        <span class="error-message" *ngIf="palletMessage">{{palletErrorMessage}}</span>
    </div>
    <div class="p-field p-col-12 p-sm-6 p-md-8">
        <div style="float: right">
            <button type="button" label="Search" class="p-mr-2 primary-btn" (click)="getPalletDetails(searchPalletId)">Search</button>
            <button type="button" label="Reset" type="button" class="primary-btn" (click)="reset()">Reset</button>
        </div>
    </div>
</div>
<hr style="margin:0px" />

<form [formGroup]="palletDetailsForm">
    <div *ngIf="enablePalletForm">
        <div class="p-grid">
            <div class="p-field p-col-12 p-sm-6 p-md-4 p-lg-2 p-xl-2">
                <label for="palletId">Pallet Ticket ID:</label>
                <input type="text" class="form-control" pInputText formControlName="palletTicketId" name="palletId">
            </div>
            <div class="p-field p-col-12 p-sm-6 p-md-4 p-lg-2 p-xl-2">
                <label for="palletName">PWM Inventory ID:</label>
                <input type="text" class="form-control" pInputText formControlName="pwmInventoryId"
                    name="pwmInventoryId">
            </div>
            <div class="p-field p-col-12 p-sm-6 p-md-4 p-lg-2 p-xl-2">
                <a *ngIf="enablePalletForm" (click)="onMaterialClick()" class="link">Material ID:<br></a>
                <input type="text" class="form-control" pInputText formControlName="materialId" name="materialId">
            </div>
            <div class="p-field p-col-12 p-sm-6 p-md-4 p-lg-2 p-xl-2">
                <label for="pwmBarcodeId">PWM Barcode ID:</label>
                <input type="text" class="form-control" pInputText formControlName="pwmBarcodeId" name="pwmBarcodeId">
            </div>
            <div class="p-field p-col-12 p-sm-6 p-md-4 p-lg-2 p-xl-2">
                <label for="pickedOrder">Picked for Order:</label>
                <input type="text" class="form-control" pInputText formControlName="pickedOrder" name="pickedOrder">
            </div>
            <div class="p-field p-col-12 p-sm-6 p-md-4 p-lg-2 p-xl-2">
                <label for="location">Location:</label>
                <input type="text" class="form-control" pInputText formControlName="location" name="location">
            </div>

            <div class="p-field p-col-12 p-sm-6 p-md-4 p-lg-2 p-xl-2">
                <label for="materialVersion">Material Version:</label>
                <input type="text" class="form-control" pInputText formControlName="materialVersion"
                    name="materialVersion">
            </div>
            <div class="p-field p-col-12 p-sm-6 p-md-4 p-lg-2 p-xl-2">
                <label for="batchNumber">Batch Number:</label>
                <input type="text" class="form-control" pInputText formControlName="batchNumber" name="batchNumber">
            </div>
            <div class="p-field p-col-12 p-sm-6 p-md-4 p-lg-2 p-xl-2">
                <label for="producer">Producer:</label>
                <input type="text" class="form-control" pInputText formControlName="producer" name="producer">
            </div>
            <div class="p-field p-col-12 p-sm-6 p-md-4 p-lg-2 p-xl-2">
                <label for="productionDate">Production Date:</label>
                <input type="text" class="form-control" pInputText formControlName="productionDate"
                    name="productionDate">
            </div>
            <div class="p-field p-col-12 p-sm-6 p-md-4 p-lg-2 p-xl-2">
                <label for="expireDate">Expiration Date:</label>
                <input type="text" class="form-control" pInputText formControlName="expireDate" name="expireDate">
            </div>
            <div class="p-field p-col-12 p-sm-6 p-md-4 p-lg-2 p-xl-2">
                <div class="p-fluid p-grid p-formgrid">
                    <div class="p-field p-col-6 p-md-6" style="padding-left: 0rem;">
                        <label for="quantity">Quantity:</label>
                        <input type="text" class="form-control" pInputText formControlName="quantity" name="quantity">
                    </div>
                    <div class="p-field p-col-6 p-md-6" style="padding-right: 0rem;">
                        <label for="uom">UOM:</label>
                        <input type="text" class="form-control" pInputText formControlName="uom" name="uom">
                    </div>
                </div>
            </div>

            <div class="p-field p-col-12 p-sm-6 p-md-6 p-lg-3 p-xl-3">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-4" style="padding-left: 0rem;">
                        <label for="line">Line:</label>
                        <input type="text" class="form-control" pInputText formControlName="line" name="line">
                    </div>
                    <div class="p-field p-col-4">
                        <label for="shift">Shift:</label>
                        <input type="text" class="form-control" pInputText formControlName="shift" name="shift">
                    </div>
                    <div class="p-field p-col-4" style="padding-right: 0rem;">
                        <label for="crew">Crew:</label>
                        <input type="text" class="form-control" pInputText formControlName="crew" name="crew">
                    </div>
                </div>
            </div>


            <div class="p-field p-col-12 p-sm-6 p-md-6 p-lg-2 p-xl-2">
                <label for="owner">Owner:</label>
                <input type="text" class="form-control" pInputText formControlName="owner" name="owner">
            </div>

            <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-4 p-xl-4">
                <label for="description">Description:</label>
                <input type="text" class="form-control" pInputText formControlName="description" name="description">
            </div>
            <div class="p-field p-col-12 p-sm-12 p-md-6 p-lg-3 p-xl-3">
                <label for="status">Status:</label>
                <textarea disabled [rows]="2" class="textarea" pInputTextArea formControlName="status"
                    name="status"></textarea>
            </div>
        </div>
    </div>
</form>
<quality-assurance-pwm-spinner></quality-assurance-pwm-spinner>
<quality-assurance-pwm-dialog></quality-assurance-pwm-dialog>