.marginTop {
  margin-top: 2%;
}

.asteriskColor {
  color: rgb(244, 156, 0);
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.col-2 {
  flex: 0 0 auto;
  width: 11.666667%;
}

.lineSpacing{
  padding-top: 1rem;
}